

body {
    background-color: #16214e
}

.login-panel {
    margin-top: 150px;
    min-height: 400px;
    background-color: white
}

.left-panel {
    background-color: #44c7f5;
}

.right-panel {

}

.left-form {
    color: white;
    padding: 100px 20%;
}

.right-form {
    padding: 100px 20%;
}

.alert{
    display:none;
  }
